{% extends 'base.html.twig' %}

{# refined the block stylesheets from base.html. twig #}
{% block title %}{{ parent() }} - Home {% endblock %}

{# refined the block stylesheets from base.html.twig (https://twig.symfony.com/doc/2.x/functions/parent.html) #}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/home.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
{# I use the grid system from boostrap : https://getbootstrap.com/docs/4.0/layout/grid/#how-it-works #}
{# I use the spacing utility for make the content away from navbar : https://getbootstrap.com/docs/4.0/utilities/spacing/ #}
<div class="container pt-5">
    <div class="row">
        <div class="col-8 welcome">
            <h2><img src="{{ asset('icon/profile.png') }}"> Bonjour pierre</h2>
        </div>
        <div class="col-4">
            {# I use the same card style from https://getbootstrap.com/docs/4.0/components/card/#header-and-footer #}
            <div class="card">
                <h5 class="card-header">Prochain cours</h5>
                <div class="card-body">
                    <h5 class="card-title">Le lundi 23 Décembre</h5>
                    <p class="card-text">Cours de mathématiques, avec Charles.</p>
                    <a href="#" class="btn btn-primary">Détails</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-5 pb-5">
        {% for card in cards %}
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ card.image_url }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ card.title }}</h5>
                        <p class="card-text">{{ card.body }}</p>
                    </div>
                    {# I centered the button with text-center from https://getbootstrap.com/docs/4.0/utilities/text/#text-alignment  #}
                    <div class="card-body text-center">
                        {# I use the button component from https://getbootstrap.com/docs/4.0/components/buttons/#examples #}
                        <a href="{{ card.link }}" class="card-link btn btn-info">Réserver</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
